{minimum_otp_vsn, "19"}.
{plugins, [rebar3_appup_plugin]}.
{provider_hooks, [
    {pre, [{tar, {appup, tar}}]},
    {post, [{compile, {appup, compile}},
            {clean, {appup, clean}}]}
]}.

{erl_opts, [
            debug_info,
            warn_export_all,
            warn_unused_import,
            warn_unused_vars, 
            nowarn_shadow_vars,
            warnings_as_errors,
            % {parse_transform, lager_transform},
            {i, ["include"]},
            {src_dirs, ["src"]}
]}.

{deps, [
    {efuns    , {git, "https://github.com/qingchuwudi/efuns.git", {branch, "master"}}},
    {quickrand, {git, "https://github.com/okeuday/quickrand.git", {tag,"v1.6.0"}}},
    {uuid     , {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}}
]}.

{relx, [{release, { pub_params, "0.1.0" },
         [pub_params, uuid, efuns, inets, crypto,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
        					{system_libs, true},
                            {include_erts, true}]}]
            }]
}.

{clean_files, ["erl_crash.dump",
			   "rebar3.crashdump",
			   "rebar.lock"
]}.
